<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: headerFragment">
</head>
<body>
<div class="container">
	<div class="jumbotron text-center">
		<h1>Local Host 8080</h1>
	</div>

	<h3>Hello, <span th:text="${username}">--name--</span></h3>
	<h4>телефон: <span th:text="${phone}">--phone--</span></h4>
	<h4>должность: <span th:text="${position}">--position--</span></h4>

	<h4>Granted Client Roles:
		<tbody>
		<tr th:each="role : ${client_roles}">
			<td th:text="${role}">Text ...</td>
		</tr>
		</tbody>
	</h4>
	<h4>Granted Realm Roles:
		<tbody>
		<tr th:each="role : ${realm_roles}">
			<td th:text="${role}">Text ...</td>
		</tr>
		</tbody>
	</h4>

	<div class=""><p><br></p></div>
	<div class="well">
		<b>Выход: </b><a href="/keycloak/api/logout">LOGOUT</a>
	</div>

	<div id="pagefoot" th:include="layout :: footerFragment">Footer
	</div>
</div>
<!-- container -->

</body>
</html>